In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# Read CSV

In [2]:
df=pd.read_csv('multi_var.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Fill NaN data

In [3]:
import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [4]:
df.bedrooms.fillna(median_bedrooms,inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Train

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Test

In [6]:
reg.predict([[3000,3,18]])

array([594550.])

# Simple linear equation

In [7]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [8]:
reg.intercept_

383724.99999999994

In [9]:
#here by using y= (m1*x1) + (m2*x2) + (m3*x3) + b
y= (137.25*3000) + (-26025*3) + (-6825*40) + 383724.99999999994
y

444399.99999999994